.nav.navbar-nav {
    font-size: 15px;
}
    
#searchForm {
    margin-right: 100px;
}
    
@media (max-width: 1200px) {
    #searchForm {display:none}
}

.d-inline-block {
    display: inline-block !important;
}

.align-top {
    vertical-align: top !important;
}